/*Importando la tipografia monserrat*/
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/*Aspecto general de la página*/
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background-image: url('../images/fondo.png');
    color:black;
}

div.doBody{
  /*backdrop-filter: blur(20px);*/
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 10px;
  min-height: 800px;
  min-width: 1100px;
  background-color: rgb(255,255,255,0.7);

}

div.theBody{
  margin-top:2%;
  margin-left: 3%;
  margin-right: 3%;
}
/*BARRA DE NAVEGACIÓN*/
.navbar {
  background-color: #333;
  color: #fff;
  overflow: hidden;
  height: 70px;
  min-width: 1200px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 10px;
  margin-left: 5%;
  font-size: 45px;
  font-weight: bold;

}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.menu a.active { 
  background-color: #ebedef;
  color: #333;
  font-weight: bold;
  border-radius: 3px; 
  padding: 3px 3px;
}


@media (min-width: 769px) {
  .checkbtn i {
    display: none;
  }
}
/*PAGINA DE JUEGO*/

h1.game{
  text-align: center;
}

p.game{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

div.imageContainer{
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  border-color: black;
}

div.gameImage{
  background-color: white;
  align-content: center;
  display: flex;
  margin: auto auto;
  overflow: hidden;
  border-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}

div.logoSelector div{
  margin-top: 20px;
}

div.game-result{
  text-align: center;
}

div.game-result h1{
  padding-top: 30px;
}

input.input-game{
  padding: 10px;
  padding-top: 10px; 
  font-size: 16px; 
  border: 2px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  transition: border-color 0.3s ease; 
  width: 400px;
}

.input-game:hover {
  border-color: #1254d7; 
}

.input-game:focus {
  border-color: #333;
  box-shadow: 0 0 5px #333; 
}

div.gameResult{
  display: flex;
  align-items: center;
  justify-content: center;
}

img.gameRes{
  width: 500px;
  height: 500px;
}


div.logoSelector{
  align-items: center;
  justify-content: center;
  text-align: center;
}

a.buttom{
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

a.buttom:hover {
  font-weight: bold;
  background-color: #1254d7;
  box-shadow: 0 0 5px #1254d7, 0 0 25px #1254d7, 0 0 50px #1254d7, 0 0 20px #1254d7;
}

.buttom {
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; 
  border: none;
}

.buttom:hover {
  font-weight: bold;
  background-color: #1254d7;
  box-shadow: 0 0 5px #1254d7, 0 0 25px #1254d7, 0 0 50px #1254d7, 0 0 20px #1254d7;
}

div.welcome{
  text-align: center;
  margin-top: 10px;
}

div.welcome h2{
  margin-bottom: 10px;
}

div.register{
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1.register{
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 50px;
}

div.registerInfo{
  margin-top: 30px; 
}

.registerInfo h2 {
  margin-bottom: 20px;
}

label{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-large {
  padding: 10px;
  padding-top: 10px; 
  font-size: 16px; 
  border: 2px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  transition: border-color 0.3s ease; 
}

.input-large:hover {
  border-color: #1254d7; 
}

.input-large:focus {
  border-color: #333;
  box-shadow: 0 0 5px #333; 
}

div.selectGameMode{
  text-align: center;
}
div.selectGameMode h2{
  margin-bottom: 20px;
}
div.selectGameMode h1{
  font-size: 50px;
  margin-bottom: 20px;
  margin-top:20px;
}
div.selectGameMode a{
  margin-bottom: 20px;
}
@keyframes drawText {
  0% {
    content: "";
  }
  22% {
    content: "C";
  }
  44% {
    content: "CU";
  }
  66% {
    content: "CUP";
  }
  88% {
    content: "CUPE";
  }
  100% {
    content: "CUPES";
  }
}

div.animation {
  text-align: center;
  align-items: center;
  height: 250px;
}

#animated-text::before {
  font-size: 200px;
  font-weight: bold;
  color: #333;
  content: "";
  animation: drawText 4s steps(4) forwards;
  display: inline-block;
}

h1.tituloPrincipal{
  font-size: 150px;
  font-weight: bold;
  color: #333;
  justify-content: center;
  text-align: center;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
 
  .menu {
    min-width: 1200px;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
  }

  .checkbtn i {
    display: inline-block;
  }

  #check {
    position: absolute;
    top: -9999px;
  }

  .checkbtn {
    display: block;
    cursor: pointer;
  }

  #check:checked + .checkbtn ~ .menu {
    display: flex;
  }
}

@media (min-height: 1500px) {
  .body {
    background-image: url('../images/fondo3.png');
    background-size: cover;
    
  }
  .div.doBody{
    /*backdrop-filter: blur(20px);*/
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 10px;
    min-height: 1500px;
    background-color: rgb(255,255,255,0.7);
  
  }
  
  .div.theBody{
    margin-top:2%;
    margin-left: 3%;
    margin-right: 3%;
  }
}